:root {
  --main: #62b5e5;
  --second: #67899c;
  --accent: #addc91;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue Light", Helvetica, Arial, Times, serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  height: 100vh;
  width: 100vw;
  background: rgb(243, 243, 243);
  background-position: center;
  background-repeat: no-repeat;
}

.heading {
  background-color: var(--main);
  color: white;
  height: 10%;
  text-align: center;
  padding: 1rem;
}

.circle-stats {
  height: 30%;
  background: white;
}

.date-selector {
  display: flex;
  justify-content: space-between;
}

.date-selector i,
.date-selector p {
  color: rgb(75, 75, 75);
  padding: 1rem;
}

.date-selector i:hover {
  cursor: pointer;
}

.measurements {
  height: 82%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 8rem);
}

.measurement-item {
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem;
  background-color: white;
}

.measurement-item img {
  padding-right: 1rem;
  width: 3.5rem;
  filter: invert(68%) sepia(34%) saturate(764%) hue-rotate(169deg)
    brightness(94%) contrast(91%);
}

.measurement-item div p {
  color: rgb(146, 146, 146);
  font-size: 0.8rem;
}

.measurement-item div .measure {
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.measurement-item:hover {
  outline: solid 0.1rem var(--main);
  cursor: pointer;
}

.progress-container {
  height: 82%;
  overflow: auto;
}

.progress-container h3 {
  text-align: center;
  padding-top: 1rem;
}

.progress-item {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background: white;
  margin: 1rem 0;
}

.add-measure,
.login-page {
  height: 82%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  background: white;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  color: #575757;
  text-shadow: 0.2rem 0.2rem 0.5rem var(--main);
}

.select-wrapper {
  display: flex;
  flex-direction: row;
}

select,
input,
button {
  height: 3rem;
  font-size: 1.25rem;
  margin: 0.5rem 0.5rem;
}

select {
  padding: 0.25rem;
  width: 50%;
}

.add-measure input {
  padding: 0.25rem;
  width: 50%;
}

button {
  color: white;
  background: var(--second);
  width: 95%;
}

.bottom-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(53, 57, 61);
  color: whitesmoke;
  height: 10%;
  width: 100%;
  padding: 0.25rem 0;
}

.bottom-buttons p {
  font-size: 0.7rem;
  padding-top: 0.25rem;
}

.button-wrapper {
  color: white;
  text-decoration: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-wrapper:hover {
  background: var(--main);
  cursor: pointer;
  font-weight: bold;
}
